h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.createQuiz__buttons button {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 13px;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
    transition: background-color .2s ease-in-out;
    user-select: none; 
}

.createQuiz__buttons button:hover {
    background-color: rgba(255, 255, 255, .4)
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.questionName {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}

.questionAnswers {
    width: 100%;
    margin-bottom: 10px;
}

.selectRightAnswer {
    min-width: 100%;
    margin: 20px 0;
}

.selectRightAnswer select{
    width: 100%;
    font-size: 20px;
    padding: 7px 13px;
    outline: none;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
    color:#fff;
    font-weight: 300;
}

.selectRightAnswer select option{
    color: #000;

}

.selectRightAnswer label {
    display: inline-block;
    margin-bottom: 7px;
    color:#fff;
    font-size: 18px;
    font-weight: 600;

}

.errorMesage {
    margin-top: 7px;
    color: red
}