.inputWraper {
    width: 100%;
    margin-bottom: 10px;
}

.inputWraper input {
    width: 100%;
    font-size: 20px;
    padding: 7px 13px;
    outline: none;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
    caret-color: #fff;
    color:#fff;
    font-weight: 300;
}

.inputWraper label {
    display: inline-block;
    margin-bottom: 7px;
    color:#fff;
    font-size: 18px;
    font-weight: 600;

}

.inputWraper input::placeholder{
    color: #fff;
    font-size: 15px;
    opacity: .7;
}

.errorMesage {
    margin-top: 7px;
    color: red
}