.QuizesPage {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #42566F, #354D65, #2A435A, #213A4F);

}

.quizesPage__ontainer {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizesPage__body {
    margin-top: -50px;
    min-width: 60%;
}

.QuizesPage h1 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    text-align: center;
    margin-bottom: 30px;
}

.QuizesPage ul {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    padding: 25px 15px;
}

.QuizesPage ul li {
    margin-bottom: 10px;
    text-align: center;
}

.QuizesPage ul li a {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #fff;
    text-decoration: none;
}

