.Quiz {
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100% );
    height: 100%;
}

.quiz__container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz__body {
    margin-top: -50px;
    min-width: 60%;
}

.Quiz h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}