.ActiveQuiz {
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 25px;
    animation: myAppear 1s ease ;
}

.activeQuiz__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center
}

.ActiveQuiz p {
    font-size: 20px;
    font-weight: 600;
}

.ActiveQuiz strong {
    font-size: 16px;
    font-weight: 700;
}

.ActiveQuiz small {
    font-size: 16px;
}

.ActiveQuizAnimate-enter {
    opacity: 0.3;
}

.ActiveQuizAnimate-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.ActiveQuizAnimate-exit {
    opacity: 1;
}

.ActiveQuizAnimate-exit-active{
    opacity: 0.3;
    transition: opacity 1s;
}

@keyframes myAppear {
    from {opacity: 0;}
    to {opacity: 1;}
}