.FinishedQuizItem {
   list-style: none;
   font-size: 20px;
    padding: 3px 0;
    font-weight: 600;
}

.xMark {
    color: rgb(32, 243, 32);
    font-weight: 900;
}

.rightAnswer {
    color: rgb(32, 243, 32);
}

.wrongAnswer {
    background: rgb(240, 87, 108);
}