.FinishedQuizItem {
   list-style: none;
   font-size: 20px;
    padding: 3px 0;
    font-weight: 600;
}

.xMark {
    font-weight: 900;
    font-size: 24px;
}

.rightAnswer {
    color: rgb(32, 243, 32);
}

.wrongAnswer {
    color: rgb(240, 87, 108);
}